{% extends 'base.html.twig' %}

{% block title "New Pan" %}


{% block body %}
<h1>Create Pan</h1>


{{ form_start(form) }}

{{ form_widget(form) }}

<input type="submit" value="Create Pan">
{{ form_end(form) }}


{% endblock %}
