{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Page #'~ pan.id %}

{% block body %}
<h1>Edit Pan #{{ pan.id }}</h1>
{{ include('pans/_form.html.twig', {submittedValue : 'Edit Pan'} ) }}
{% endblock %}
