{% extends 'base.html.twig' %}

{% block title 'Find all good Pans' %}

{% block body %}
<h1>{{ pluralize(pans|length, 'Pin', 'Pins') }}</h1>

{% for pan in pans %}
<article>
    <h2><a href="{{path('app-pans-show', {id: pan.id})}}">{{ pan.title }}</a></h2>
    <p><a href="#">{{ pan.description }}</a></p>
</article>

{% endfor %}
{% endblock %}
